rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /statusBoardRooms/{roomId} {
      allow read, write: if true;

      match /characters/{characterId} {
        allow read, write, delete: if true;
      }
    }
  }
}